.test{
    font-family: "Questrial", sans-serif;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

.header1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    height:20px;
    font-size: 15px;
}

.francais{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;    
    color: black;
}

.fjbarre{
     margin-left: 7px;
     margin-right: 7px;
}

.japonais{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.japonais:hover{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(180, 0, 180);
    text-decoration: none;  
}

.header2{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 107px;
     width: 1100px;
     margin: 0 auto;
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: normal;
}

.logo img{
     width: 400px;
     height: auto;
     padding-left: 50px;
     margin-left: 103px;
}

.inscription{
    display: flex;
    justify-content: space-between;
    width: 305px;
}

.abonner{
    background-color: rgb(255, 169, 0);
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.barre{
    display: flex;
    padding: 10px;
    color: rgb(122, 122, 122);
}

.connexion{
    display: flex;
    padding: 10px;
}

.icone1{
    display: flex;
    padding: 10px;
}

.propos{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.propos:hover{
    text-decoration: none;
    background-color: rgb(255, 169, 0);
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.fa-solid {
    margin-right: 15px;
}

.ligne{
    background-color: rgb(180, 0, 180);
    height: 4px;
}

.header3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 1100px;
    margin: 0 auto;
    color: black;
}

.header4{

    height: 125px;
    background-color: rgb(180, 0, 180);
    display: block;
}

@media (max-width: 1150px) {
    .header4 {
      display: none;
    }
    .header1 {
        display: none;
    }
    .header3{
        display: none;
    }
    .propos {
        display: none;
    }

  }

.header4_2{

    justify-content: center;
    display: flex;
    justify-content: space-between;
    height: 125px;
    width: 1100px;
    margin: 0 auto;
  
}

.h4_info{

    display: flex;
    flex-direction: column;
    height: 125px;
    margin-top: 25px;
    height: 100px;
    color: rgb(255, 255, 255);
    width: 170px;
    border-right: solid 1px black;
    font-size: 14px;
    padding-right: 20px;
    font-family: inherit;

}

.h4_info_1{
    font-family: "Roboto", sans-serif;
    opacity: 0;
    animation: apparition_bas_en_haut 0.5s ease-out forwards;
}

.h4_info_2{
    font-family: "Roboto", sans-serif;
    opacity: 0;
    animation: apparition_bas_en_haut 0.5s ease-out forwards;
    animation-delay: 0.5s;
}


.h4_info_3{
    font-family: "Roboto", sans-serif;
    opacity: 0;
    animation: apparition_bas_en_haut 0.5s ease-out forwards;
    animation-delay: 1s;
}

.h4_info_4{
    font-family: "Roboto", sans-serif;
    opacity: 0;
    animation: apparition_bas_en_haut 0.5s ease-out forwards;
    animation-delay: 1.5s;
}

.h4_info_5{
    font-family: "Roboto", sans-serif;
    opacity: 0;
    animation: apparition_bas_en_haut 0.5s ease-out forwards;
    animation-delay: 2s;
}


@keyframes apparition_bas_en_haut {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fondu {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.h4_voirplus{

    display: flex;
    height: 125px;
    margin-top: 25px;
    height: 100px;
    color: rgb(255, 255, 255);
    width: 100px;
}

.h4_voirplus{
    color: rgb(255, 255, 255);
}

.h4_heure{
    color: rgb(255, 175, 255);
    animation: fondu 0.5s;
}

.journal{
    background-color: rgb(240, 240, 240);
    height: 2900px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.page{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 2700px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}


.article1{
    font-family: "Rubik", sans-serif;
    align-items: center;
    height: 1090px;
    max-width: 400px;
    border-bottom: solid 1px rgb(130, 130, 130);
    text-align: center;
}

.titre-article1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    padding-top: 10px;
}

.texte-article1{
    font-size: 20px;
    color: rgb(40, 40, 40);
    padding-top: 20px;
}

.texte-artiecle1-citation{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;

}

.image-article1{
    padding-top: 20px;
    max-width: 400px;
    height: auto;
}


.article2{
    font-family: "Rubik", sans-serif;
    align-items: center;
    height: 520px;
    max-width: 230px;
    border-bottom: solid 1px rgb(130, 130, 130);
    padding-top: 10px;
}

.titre-article2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    text-align: center;
}

.texte-article2{
    font-size: 20px;
    color: rgb(40, 40, 40);
    padding-top: 10px;
    text-align: center;
}

.image-article2{
    max-width: 230px;
    height: auto;
    padding-top: 10px;
}


.article3{
    font-family: "Rubik", sans-serif;
    align-items: center;
    height: 740px;
    max-width: 260px;
    border-bottom: solid 1px rgb(130, 130, 130);
    padding-top: 10px;
}

.titre-article3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    text-align: center;
}

.texte-article3{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    text-align: center;
}

.cheese{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cheese:hover{
    text-decoration: underline;
}

.texte-artiecle3-citation{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.image-article3{
    padding-top: 10px;
    max-width: 260px;
    height: auto;
    padding-top: 10px;
}


.article4{
    font-family: "Rubik", sans-serif;
    align-items: center;
    height: 570px;
    max-width: 230px;
    border-bottom: solid 1px rgb(130, 130, 130);
    padding-top: 10px;
}

.titre-article4{
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    text-align: center;
}

.texte-article4{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    text-align: center;
}

.image-article4{
    padding-top: 10px;
    max-width: 230px;
    height: auto;
}

.article5{
    font-family: "Rubik", sans-serif;
    align-items: center;
    height: 350px;
    max-width: 260px;
    border-bottom: solid 1px rgb(130, 130, 130);
}

.titre-article5{
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    padding-top: 20px;
    text-align: center;
}

.texte-article5{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    text-align: center;
}

.image-article5{
    padding-top: 10px;
    max-width: 130px;
    height: auto;
    border-radius: 50px;
}

.doigt{
    text-align: center;
}